.body {
	font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  font-size: 30;
  line-height: 40px;
	max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
	width: 449px;
	height: 88px;
	left: 0px;
	top: 0px;
	background: #E9D6D7;
	border: 1px solid #000000;
	box-sizing: border-box;
}

.header__text {
	position: absolute;
	width: 313px;
	height: 40px;
	left: 68px;
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color: #6C4A4A;
	margin-bottom: 24px;
}

.valute {
	display: block;
	position: sticky;
}

.valute__eur {
	position: absolute;
	width: 91px;
	height: 59px;
	left: 9px;
	top: -23px;
	background: #E9D6D7;
	border-radius: 15px;
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
}

.valute__text--modife {
	width: 166px;
	height: 70px;
	left: 14px;
	top: 118px;
	background: #FFFFFF;
	box-shadow: inset 2px 2px 15px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border: none;
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 40px;
	display: flex;
	align-items: center;
	padding-left: 127px;
	padding-right: 127px;
	margin-left: 14px;
	margin-top: 26px;
}

.valute__arrows {
	position: absolute;
	width: 91px;
	height: 59px;
	left: 333px;
	top: -9px;
	background: #E9D6D7;
	border-radius: 15px;
}

.valute__arrows img {
	position: absolute;
	width: 44px;
	height: 43px;
	left: 24px;
	top: 8px;
}

.convert {
	width: 420px;
	height: 70px;
	left: 14px;
	top: 118px;
	background: #FFFFFF;
	box-shadow: inset 2px 2px 15px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border: none;
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 40px;
	display: flex;
	align-items: center;
	margin-left: 14px;
	padding-left: 15px;
	margin-top: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.convert__two {
	margin-top: 30px;
}

.select__img--one {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 408.09px;
	top: 244.09px
}

.select__img--two {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 410.09px;
	top: 345.09px
}

.convertation {
	width: 389px;
	height: 71px;
	left: 30px;
	top: 450px;
	box-shadow: 0px 1px 4px 8px rgba(0, 0, 0, 0.25);
	margin-left: 28px;
}

.convertation p {
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	display: flex;
	justify-content: center;
	color: #000000;
}

.data {
font-family: Segoe UI;
font-style: normal;
font-weight: 350;
font-size: 20px;
margin-left: 145px;
}